# Python/Flask
__pycache__/
*.py[cod]
*$py.class
Backend/venv/
.env

# Firebase/Config
Backend/src/config/serviceAccountKey.json

# IDEs
.vscode/
.idea/
.gemini/

# OS files
.DS_Store
Thumbs.db


tests
scripts
Dockerfile
.gcloudignore